

<nav>   
  <div>
     <router-outlet></router-outlet>
  </div>
  </nav>
  
   <!-- <ul>
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Assets
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a [routerLink]="['/user']">User</a></li>
          <li><a [routerLink]="['/KYC_Details']">KYC_Details</a></li>
          
          <li><a [routerLink]="['/Aadhar_verifications']">Aadhar_verifications</a></li>
          
          <li><a [routerLink]="['/Passport_verifications']">Passport_verifications</a></li>
          
        </ul>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet> -->